<div class="page">
  <div class="title">Sélectionner un type de test</div>

  <div class="card-container">
    <mat-card class="card-hover-animation">
      <mat-card-title class="card-title">UI Testing</mat-card-title>
      <mat-card-content class="content">
        <mat-icon aria-hidden="false" class="icon">desktop_mac</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-hover-animation">
      <mat-card-title class="card-title">Back-End Testing</mat-card-title>
      <mat-card-content class="content">
        <mat-icon aria-hidden="false" class="icon">storage</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>
