<h1>Gatling</h1>
<p>Veuillez remplir le formulaire suivant pour envoyer les information à Jmeter afin qu'il puisse réaliser le test désiré</p>
<form method="post" action="http://localhost:8080/gatling/http-request">
    <label for="nbUsers">Entrez le nombre d'utilisateur :</label>
    <input type="number" name="nbUsers" min="0" max="999999">
    <br/>
    <label for="rampUpPeriod">Entrez la différence de temps d'accès entre chaque utilisateur :</label>
    <input type="number" name="rampUpPeriod" min="0" max="999999">
    <br/>
    <label for="loopCount">Entrez le nombre de tour à réaliser :</label>
    <input type="number" name="loopCount" min="0" max="999999">
    <br/>
    <label for="protocol">Entrez le nom du protocole à effectuer :</label>
    <input type="text" name="protocol">
    <br/>
    <label for="serverName">Entrez le nom du serveur :</label>
    <input type="text" name="serverName">
    <br/>
    <label for="port">Entrez le numéro de port du serveur :</label>
    <input type="number" name="port" min="0" max="999999">
    <br/>
    <label for="method">Entrez la méthode à réaliser :</label>
    <input type="text" name="method">
    <br/>
    <label for="path">Entrez le chemin à tester :</label>
    <input type="text" name="path">
    <br/>
    <input id="boutonEnvoyer" type="submit" value="Envoyer">
</form>