.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-container {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
  margin-top: -200px;
}

.button-container:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-container {
    padding: 24px;
  }
}

.logo {
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-button{
  margin-right: 150px;
}
