<h1 style="text-align: center;"> Liste des tests</h1>


<table mat-table [dataSource]="dataTests" class="mat-elevation-z8">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <ng-container matColumnDef="method">
    <th mat-header-cell *matHeaderCellDef> methode </th>
    <td mat-cell *matCellDef="let row"> {{row.method}} </td>
  </ng-container>

  <ng-container matColumnDef="apiUrl">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let row"> {{row.apiUrl}} </td>
  </ng-container>

  <ng-container matColumnDef="statusCode">
    <th mat-header-cell *matHeaderCellDef> status </th>
    <td mat-cell *matCellDef="let row"> {{row.statusCode}} </td>
  </ng-container>

  <ng-container matColumnDef="responseTime">
    <th mat-header-cell *matHeaderCellDef> TDR </th>
    <td mat-cell *matCellDef="let row"> {{row.responseTime}} </td>
  </ng-container>

  <ng-container matColumnDef="responseStatus">
    <th mat-header-cell *matHeaderCellDef> resultat du test </th>
    <td mat-cell *matCellDef="let row"
        [ngStyle]="{'color': row.responseStatus === true ? 'green' : (row.responseStatus === false ? 'red' : 'black') }">
      {{ row.responseStatus }} </td>
  </ng-container>


  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef >

      <button mat-raised-button color="primary" (click)="lunchTests()">lancer les tests</button>

      <button mat-icon-button class="download-button" (click)="exportCSV()">
        <mat-icon>download</mat-icon>
      </button>

      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon" (click)="addTest()">add</mat-icon>
      </button>

    </mat-header-cell>

    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="deleteTest(row.id)">
        <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
