<br><br>
<div class="modal fade" tabindex="-1" id="addAction" aria-labelledby="Add new Action" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New Action</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
        <div class="modal-body">
            <div class="input-group mb-3">
                <select class="form-select" id="action" (change)="actionChose();" required>
                    <option value="" selected>Action</option>
                    <option value="GoToUrl">GoToUrl</option>
                    <option value="FillField">FillField</option>
                    <option value="GetAttribute">GetAttribute</option>
                    <option value="GetPageTitle">GetPageTitle</option>
                    <option value="Clear">Clear</option>
                    <option value="Click">Click</option>
                    <option value="IsDisplayed">IsDisplayed</option>
                </select>
                <input type="text" class="form-control" placeholder="Object" id="object" disabled/>
                <input type="text" class="form-control" placeholder="Input" id="input" disabled/>
                <input type="text" class="form-control" placeholder="Target" id="target" disabled/>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
            <input type="submit" class="btn btn-primary" (click)="submitAction()" value="Add Action"/>
        </div>
        </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addCase" aria-labelledby="Add new Case" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New Case</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
            <div class="modal-body">
            <input type="text" class="form-control" placeholder="Case Name" id="caseName"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" id="close2">Close</button>
            <input type="submit" class="btn btn-primary" (click)="submitCase()" value="Add Case"/>
        </div>
        </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCase">
            Add New Case
        </button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addAction" id="addActionButton" disabled>
            Add New Action
        </button>
        <button type="button" class="btn btn-success">Run</button>
    </div><br><br>
    <div class="container" *ngFor="let case of cases">

        <h4>Case #{{case.id}} : {{case.caseName}}</h4>
        <span>
            <button type="button" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="deleteCase(case.id)">
                Delete
            </button>
        </span>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Object</th>
                    <th scope="col">Input</th>
                    <th scope="col">Target</th>
                    <th scope="col" style="width: 70px !important;"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let action of case.actions">
                    <td>{{action.action}}</td>
                    <td>{{action.object}}</td>
                    <td>{{action.input}}</td>
                    <td>{{action.target}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="deleteAction(case.id,action.id)">
                        Delete
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table><br><br>
    </div>
</div>